<!--		
			====================================
						  Footer
			=====================================
-->		
<!--
				<div class="row">
					<div id="footer" class="small-12 columns">
						<h3 class="text-center">Created by: Antonio Figueroa</h3>
					</div>
				</div>
-->
				<script src="/js/vendor/jquery.js"></script><!-- jQuery.JS-->
				<script src="/js/foundation.min.js"></script><!-- Foundation.JS-->
				<script>$(document).foundation();</script><!-- Initiate Foundation.JS-->
			</body>
		</section><!--End of Main Section-->
		<!-- Off Canvas Exit-->
		<a class="exit-off-canvas"></a>
	</div>
</div>
</html>