<% include header %>
<!--		
====================================
 			Home Page
=====================================
-->			
<div class="row">
	<div class="small-12 columns">
		<p> </p>
	</div>
	<div class="small-12 columns">
		<h1 class="text-center" style="color:#412686">Pop's Barber Shop</h1>
	</div>
	<div class="small-12 columns">
		<h3 class="text-center"><strong>Book Appointments Fast</strong></h3>
	</div>
	<div class="small-12 columns">
		<p class="text-center">
			We provide the tools you need to book appointments, with us, on the go! To make your first appointment create and account, or select one of our available times.
		</p>
	</div>
	<div class="small-6 columns">
		<div class="small-12 columns">
		<a href="/users/signup" class="button [radius round] right">Create Account</a>
		</div>					</div>
	<div class="small-6 columns">
		<div class="small-12 columns">
		<a href="/users/login" id="video_button" class="button [radius round] left">Login</a>
		</div>
	</div>
</div>

<p class="text-center">----------------------------------------</p>

<!--		
====================================
 Second Row: Available Today 
=====================================
-->		
<!--
<div class="row">
	<div class="small-12 columns">
		<h2 class="text-center">Available Today</h2>
	</div>
	<div class="small-12 columns">
		<table>
			<tr>
				<th class="text-center">Available Hour</th>
				<th class="text-center">Appointment</th>
			</tr>
			For each available time... Display time value, and Make Appointment Link
			<tr>
				<td class="text-center">9:00 AM</td>
				<td class="text-center"><a href="/appointments/create?time=9:00%20am&date=2014-09-23">Create</a></td>
			</tr>
			<tr>
				<td class="text-center">9:30 AM</td>
				<td class="text-center"><a href="#">Create</a></td>
			</tr>
			<tr>
				<td class="text-center">10:00 AM</td>
				<td class="text-center"><a href="#">Create</a></td>
			</tr>
			<tr>
				<td class="text-center">10:30 AM</td>
				<td class="text-center"><a href="#">Create</a></td>
			</tr>
			<tr>
				<td class="text-center">11:00 AM</td>
				<td class="text-center"><a href="#">Create</a></td>
			</tr>
			<tr>
				<td class="text-center">11:30 AM</td>
				<td class="text-center"><a href="#">Create</a></td>
			</tr>
			<tr>
				<td class="text-center">1:00 AM</td>
				<td class="text-center"><a href="#">Create</a></td>
			</tr>

		</table>
	</div>
</div>
-->
<% include footer  %>